name: Main

on:
  push:
    branches: ['*']
    tags: ['v*']
  pull_request:
    branches: ['*']

env:
  GO_TEST_COVERAGE_FILE_NAME: coverage.out

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.20.x', '1.21.x', '1.22.x', '1.23.x', '1.24.x', '1.25.x', '1.26.x']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}
        cache: true

    - name: Download dependencies
      run: make install-deps install-deps-dev

    - name: Lint
      run: make lint

    - name: Vet
      run: make vet

    - name: Test
      run: make test-with-coverage-profile

    - name: Test Integrations
      run: make test-integrations

    - name: Send code coverage to coveralls
      if: ${{ matrix.go == '1.26.x' }}
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        go install github.com/mattn/goveralls@latest
        goveralls -coverprofile="$GO_TEST_COVERAGE_FILE_NAME" -service=github
